setuptools<81
torch
transformers==4.56.0
torch_geometric
torch_scatter
torch_sparse
accelerate==1.10.1
bitsandbytes==0.47.0
sentencepiece==0.2.0
easydict==1.13
wandb==0.19.8
numpy
pandas
scipy
scikit-learn
tqdm
matplotlib
pymatgen==2025.3.10
e3nn==0.5.6
jarvis-tools==2024.10.30
pydantic-settings==2.8.1
pandarallel==1.6.5
smact==3.0.2
CBFV==1.1.0
p-tqdm==1.4.2
faiss-cpu==1.10.0
